body {
  background: black;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.banner {
  height: 100px;
  text-align: center;
  padding: 12px;
}

.banner-link {
  display: inline-block;
  text-align: center;
  margin-right: 10px;
  font-size: 24px;
}

.banner-link + .banner-link::before {
  content: '/ ';
}

.items {
  font-size: 32px;
  border-style: ridge;
  list-style: none;
  padding: 0;
}

button {
  background-color: rebeccapurple;
  border: none;
  color: white;
  height: 36px;
  width: 105px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.result {
  text-align: center;
}
