.body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.banner {
  background-color: #ffffff;
  height: 100px;
  text-align: center;
  padding: 12px;
}

.banner-link {
  display: inline-block;
  margin-right: 10px;
  font-size: 24px;
  color: #333;
}

.banner-divider {
  display: inline-block;
  margin-right: 100px;
  text-align: center;
  font-size: 36px;
  color: #000000;
}

.items {
  background-color: rgb(255, 255, 255);
  font-size: 32px;
  color:white;
  border-style: ridge;
}

.button {
  background-color: aqua;
  color: white;
  border: none;
  height: 36px;
  width: 105px;
}
